.story-card {
  width: 54px;
  height: 54px;
  background-color: #f94f64;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 5px;
  margin-left: 5px;
  margin-bottom: 20px;
}

.story-card img {
  width: 51px;
  height: 51px;
  border-radius: 50%;
  object-fit: cover;
}

.story-card .active {
  transform: translateX(0);
}

.left-button {
  left: 10px;
  visibility: visible;
}

.right-button {
  right: 10px;
  visibility: visible;
}

.visible {
  visibility: visible !important;
}

.image-scrolling-menu {
  margin-left: 10px;
  margin-right: 10px;
  align-items: center;
}
