.explore-tab-item {
  cursor: pointer;
  font-size: 14px;
  font-family: 'Inter', sans-serif;
  font-weight: 500;
  color: black;
  background-color: lightgray;
  border-radius: 5px;
  padding-left: 10px;
  padding-right: 10px;
}