
.live-carousel-container {
  position: relative;
}

.live-carousel-custom-buttons {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
}

.live-carousel-custom-button {
  background-color: #333;
  color: #fff;
  border: none;
  padding: 10px 20px;
  cursor: pointer;
}

.live-carousel-custom-pagination {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.live-carousel-custom-dot {
  width: 10px;
  height: 10px;
  background-color: #ccc; /* Inactive dot color */
  margin: 0 5px;
  border-radius: 50%;
  cursor: pointer;
}

.live-carousel-custom-dot.active {
  background-color: #F94F64;
}

.live-carousel {
    display: flex;
    flex-direction: row;
    font-family: 'Lato';
    align-items: center;
    font-size: 16px;
    font-weight: 600;
    justify-content: space-between;
}

.live-carousel-arrow-container {
    width: 90px;
    height: 40px;
    background-color: #F9FAFB;
    border-radius: 65px;
    align-items: center;
    justify-content: space-between;
    display: flex;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.live-carousel-left-arrow,
.live-carousel-right-arrow {
    width: 35px;
    height: 35px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    cursor: pointer;
}

.live-carousel-left-arrow::before,
.live-carousel-right-arrow::before {
    content: '←'; /* Left arrow (←) Unicode character */
    font-size: 25px;
}

.live-carousel-right-arrow::before {
    content: '→'; /* Change to '→' for a right-pointing arrow */
}

.live-carousel-left-arrow:hover,
.live-carousel-right-arrow:hover {
    background-color: #ccc;
}

.live-carousel-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 10px;
}

