.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* padding: 10px 40px; */
  background-color: #FFFFFF;
  color: white;
}

.navbar-logo {
  font-size: 24px;
  font-weight: bold;
}

/* Add styles for navigation items or links if needed */
